################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/chrysalis/.vs/chrysalis/v16
/.vs
